
body{
   width: 100%;
   min-height: 100vh;
   background-image: linear-gradient(to right, rgb(0,0,0),rgb(214, 163, 9));
}

header{
   position: fixed;
   top: 0;
   left: 0;
   height: 4rem;
   width: 100%;
   background-color: black;
   box-shadow: 0 1px 5px rgb(214, 163, 9,0.6);
   
}

.container{
   width: 80%;
   display: flex;
   margin: 0 auto;
   height: 100%;
   align-items: center;
   justify-content: space-between;
}
.container h2{
   color: rgb(214, 163, 9);
}

h2:last-child a{
   color: rgb(214, 163, 9);
   cursor: pointer;
}